# Object files
*.o
*.c~

# Libraries
*.a

# Executables
*.exe
*.out

# Windows bash
.bashrc

# Temp files
.temp/*
!.temp/help.c
!.temp/chateau.pdf
!.temp/expose.pdf

# OpenClassrooms
OpenClassrooms/*
OpenClassrooms-Projets/*