# Object files
*.o
*.*~
*.class

# Libraries
*.a

# Executables
*.exe
*.out

# Windows bash
.bashrc

# Projet Snake
APL/projets/Snake/src/scores
APL/projets/Snake/src/settings

# Temp files
.temp/*
!.temp/help*
desktop.ini
!.temp/expo*

# OpenClassrooms
OpenClassrooms/*
