body {
   background-color:#222C28;
   padding:0px;
   color: white;
  /*border: 1px solid red;*/
}
img {
    box-shadow: 5px 5px 5px black;
    margin: 10px 10px;
    border-radius: 10px;
    width: 200px;
    heigth: 200px;
}
nav {
    margin : 0px;
    padding-left: 20%;
    background-color: #009973;
    border: 2px solid #009973;
}
ul {
    list-style: none;
    padding: 10px;
}
li {
    display: inline-block;
    padding: 1em;
}
li:not(:first-child) {
}
a {
    font-size: 2em;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
}
li:not(:first-child) a:hover {
    border-bottom: 2px solid white;
}
ul li:first-child {
    position: absolute;
    right: 50px;
    border-radius: 10px;
    border: 2px solid white;
}
@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}